<h1>New Work</h1>

<% if @work.errors.any? %>
   <div id="errors">
      <p>Please correct the following <%= pluralize(@work.errors.count, "error") %>:</p>
      <ul>
         <% @work.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
   </div>
<% end %> 


<%= render 'form' %>


<% content_for :aside do %>
   <% render 'sidebar' %>
<% end %>
