<h1>Companies: index</h1>
<p>List of all Companies</p>

<table>
   <tbody>
      <tr>
         <th>Company Name</th>
      </tr>
      <!-- refactoring the loop with a partial -->
      <!-- <% @companies.each do |c| %>
         <tr>
            <td><%= link_to c, c %></td>
         </tr>
      <% end %>    -->
      <%= render partial: "company", collection: @companies %> 
   </tbody>
</table>


<!--<% content_for :aside do %>
   <% render 'sidebar' %>
<% end %> -->