<h1>Companies: show</h1>
<ul>
<li><%= @company.name %></li>
</ul>


<table>
   <tbody>
      <tr>
         <th>Project</th>
         <th>Company</th>
      </tr>
      <% @company.projects.each do |c| %>
         <tr>
            <td><%= link_to c, c %></td>
            <td><%= link_to c.company.name, c.company %></td>
         </tr>
      <% end %>
   </tbody>
</table>

<!-- <p><%= link_to 'All Companies', companies_path %></p> -->

